body {
    background-color: #F2F2F2;
}
body .modal-thick {
    width: 950px;
    margin-left:-475px; /* 971/2 */
    position: fixed;
    left: 50%;
}
.container-fluid {
    padding:0px;
    margin:0px;
}
.height-1000 {
    min-height:1000px;
}
.container .row {
    margin-left: 0px!important;
}
.que-white-background {
    background-color: #FFF;
}

a {
    color: #006699;
    cursor: pointer;
}
h1, h2, h3, h4,  h5, h6 {
    padding: 0;
    margin: 0;
}
textarea {
    resize: none;
}
/*****NAVS*******/
.que-nav-1 {
    margin: 0;
    height: 25px;
    list-style: none;
}
.que-nav-1 li {
    min-width:70px;
    float:left;
    padding: 2px 10px 3px 10px;
    margin-left:5px;
    background-color: #ECF2F7;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.que-nav-1 li a{
    display: block;
    height: 100%;
    width: 100%;
    color: #444;
    font-size: 1.0em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
}
.que-nav-1 li:hover,
.que-nav-1 li.active {
    background-color: #27728B;
}
.que-nav-1 li:hover a,
.que-nav-1 li.active a {
    color: #F5F5F5;
}
.navbar {
    margin: 0px;
}
.navbar-inner {
    background-color:#1B313A;
    border-bottom: #27728B solid 2px;
    color:#F2F2F2;
    min-height: 60px;
    /* background-color:#2c475e;
     background-color: #a4b9cc; */
    background-image: none;
    background-repeat: no-repeat;
    filter: none;

}
.navbar-inner .brand {
    padding: 20px 0px 0px 20px;
    color: #F2F2F2;
    font-size: 2.0em!important;
}
.navbar-inner a {
    color: #F2F2F2;
    font-weight: bold;
}
#navbar-user-info img {
    margin: 5px;
    height: 50px;
    width:60px;

}
.que-breadcrumb {
    background-color: #ECF2F7;
    border-bottom: #999 solid 1px;
    margin-bottom: 0px;
    padding-left:30px;
    width: 100%;
    height: 25px;
    color:#222!important;
    font-weight:bold;
}
.breadcrumb > li {
    text-shadow: none;
}
.que-breadcrumb > li > .divider {
    color:#555;
}
/*----Headingins------*/
.sub-heading-1 {
    height:53px;
    padding: 8px 15px 0px 10px;
    background-color: #27728B;
    color: #F5F5F5;
}
.sub-heading-2 {
    height:30px;
    padding: 8px 5px 0px 10px;
    background-color: #27728B;
    color: #F5F5F5;
}
.que-topbar-nav{
    padding-top: 20px;
    border-bottom: #27728B solid 5px;
}

.que-topbar-nav ul li a small{
    color:#555;
} 

.que-form-container {
    background-color: #EEE;
    padding:0 0 0 0;
    overflow:hidden;
}
.que-sidebar {
    background-color: #FFF;
    height: 100vh;
    width: 28%;
    float: left;
}
.que-no-project-notification {
    height: 150px;
    width: 100%;
    background-color: #FFF;
    -webkit-box-shadow: #EEE -3px 1px 3px;
    -moz-box-shadow: #EEE -3px 1px 3px;
    box-shadow: #AAA -3px 1px 2px;

}
.que-middle-container{
    background-color: #FFF;
    width: 72%;
    float: left;
}
.que-margined {
    margin: 10px 2% 10px 2%;
}
.que-project-entry {
    height: 307px;
    float: left;
    width:32%!important;
    margin: 1% 0 1% 1%;
    border: #ECF2F7 solid 1px;
    background-color: #FAFAFA;
    border-top: #27728B solid 3px;
    overflow: hidden;
    -webkit-box-shadow: #27728B -1px 1px 2px;
    -moz-box-shadow: #27728B -1px 1px 2px;
    box-shadow: #27728B -1px 1px 2px;
}
.que-project-entry .que-padding{
    padding: 0px 10px 10px 10px;
}
#que-project-add-container {
    height: 160px;
    float: left;
    width:100%;
    padding: 15px 10px 0px 10px;
    width: 95%;
    overflow: hidden;
    background-color: #EEE;
    -webkit-box-shadow: #AAA -2px 1px 3px;
    -moz-box-shadow: #AAA -2px 1px 3px;
    box-shadow: #AAA -2px 1px 2px;
}
#que-project-add-btn {
    height: 100%;
    float: left;
    width:100%;
    overflow: hidden;
}

#que-project-add-btn img {
    margin: 15px 25% 10px 25%;
    background-color: #EEE;
    height:120px;
    width:40%;
    outline: #AAA solid 8px;
    border: #FFF solid 3px;
}
#que-project-add-btn img:hover {
    background-color: #CCC;
    outline: #888 solid 8px;
    border: #EEE solid 3px;
}
#que-project-add-btn h2,
#que-project-add-btn p {
    text-align: center;								
}
#que-project-add-btn p{
    text-align: center;
}
.que-project-entry h5 {
    text-align: center;
}
.que-project-entry .title {
    height: 10%;
    padding-top: 10px;
    background-color: #DDD;
    border-bottom: #ccc solid 1px;
    text-align: center;
}
.que-project-entry .date {
    background-color: #F2F2F2;
    font-size:0.9em;
    height: 5%;
    border-bottom: #999 solid 1px;
}
.que-project-entry .content {
    height: 20%;
    font-size: 1.1em;
    padding: 10px 10px 10px 5px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.que-project-entry .questionnaire-summary {
    height: 35%;
}
.que-project-entry .questionnaire-summary a{
    font-size: 0.9em;
}
.que-project-entry .stats .thumbnail:hover{
    background-color: #d3d6da
}
.que-project-entry .stats p{
    text-align: center;
    font-size: 0.8em;
}

.que-project-entry:hover {
}
.que-home-sidebar{
    float: left;
    width:300px;
    background-color: #fff;
}
.que-questionnaire-sidebar{
    float: left;
    width:100%;
    background-color: #fff;
}
.que-questionnaire-sidebar .nav-header{
}
.que-topbar{
    margin-top: 0px;
    padding: 10px 5px 10px 10px;
    height:30px;
}
.que-topbar img {
    float:left;
    height: 60px;
    width:70px;
    margin-right:5px;
}
.que-topbar button{
    margin-top:10px;
    margin-right:48px;
}
#login-form-table input{
    margin-right: 20px;
}
#collapse-register-accordion {
    background-color: #ECF2F7;
    border: #BBB solid 1px;
}
#register-accordion .accordion-heading {
    border-top: #999 solid 5px;
    background-color: #ECF2F7;
}
#register-accordion .accordion-heading:hover {
    border-top: #555 solid 5px;
    background-color: #AAA;
}
#register-accordion i {
    margin-top: 13px;
}
#register-accordion a {
    text-decoration: none;
}
.accordion-heading {
    border-top: #AAA solid 3px;
    background-color: #ECF2F7;
}
.accordion-heading a {
    font-size:1.5em;
}

.que-checkbox-nav {
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right: 5px;
    visibility: visible;
    border: thin solid white;  

}
.que-checkbox-nav span li {
    height: 20px;
    border-bottom: #EEE solid 1px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color:#444;
    line-height: 20px;
}
.que-checkbox-nav label {
    font-size: 0.8em!important;
}
#que-questions-container {
    padding: 10px;
}
.que-questionaire-entry {
    margin-bottom: 20px;
}

/*---QUE-BTNS --------*/
.que-btn{
    display:block;
    display: inline-block;
    *display: inline;
    text-align: center;
    *margin-left: .3em;
    vertical-align:middle;
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); */
    cursor: pointer;
    border-style: none;
}
.que-btn-login {
    margin-left: 10px;
    margin-top: -10px!important;
    height:30px;
    width: 80px!important;
    font-size: 1.3em;
    font-weight:bold;
    border-radius: 5px;
}
.que-btn-logout {
    margin-left: 10px;
    margin-top: 3px;
    height:50px;
    width: 100px;
    line-height: 50px;
    font-size: 1.2em;
    font-weight:bold;
    color: #DD9999!important;
}
.que-btn-color-white {
    color:#FFF!important;
}
.que-btn-red-1 {
    background-color: #800d00;
    color: #FFFFFF;
}
.que-btn-red-2 {
    background-color: #FF9999;
    color: #FFFFFF;
}
.que-btn-red-border-1:hover {
    border: #800D00 solid 1px;
}
.que-btn-blue-1 {
    background-color: #195085;
    color: #FFFFFF;
}
.que-btn-blue-1:hover {
    background-color: #0A1F34;
}
.que-btn-blue-2 {
    background-color: #0298AB;
    color: #FFFFFF;
}
.que-btn-blue-2:hover {
    background-color: #01789B;
}
.que-btn-brown-1{
    background-color: #983B20;
    color: #FFFFFF;
}
.que-btn-brown-1:hover {
    background-color: #652615;
}
.que-btn-brown-2{
    background-color: #A65400;
    color: #FFFFFF;
}
.que-btn-brown-2:hover {
    background-color: #652615;
}
.que-btn-green-1 {
    background-color: #2F5344;
    color: #FFFFFF;
}
.que-btn-green-1:hover {
    background-color: #1B3128;
}
.que-btn-grey-1 {
    background-color: #CCC;
}
.que-btn-grey-1:hover {
    background-color: #AAA;
}
.question-icon {
    margin-right: 15px!important;
    transform:scale(2.2,2.2);
    -ms-transform:scale(2.0,2.0); /* IE 9 */
    -moz-transform:scale(2.0,2.0); /* Firefox */
    -webkit-transform:scale(2.0,2.0); /* Safari and Chrome */
    -o-transform:scale(2.0,2.0); /* Opera */
} 
.que-space-right {
    margin-right: 20px;
}

#que-questionnaire-topbar {
    background-color: #FFF;
}
.que-container {
    margin-top: 50px;
}
/*------Project -------*/
#new-questionnaire-form {
    border-bottom:#BBB solid 1px;
    padding: 5px;
    background-color: #EEE;
}
.que-questionnaires-content table thead{
    background-color: #DDD;
    border-bottom: #BBB solid 4px;
    font-size: 1.5em;
}
/*------Questionnaire -------*/
.question-row {
    border: #777 solid 1px;
    margin-bottom: 20px;
    padding: 10px 0px 0px 0px;
    font-size:1.3em;
    font-weight: bold;
    line-height: 25px;
}
.question-row:hover {
    background-color: #F5F5F5;
}
.question-row a {
    margin-left: 20px;
}
.question-row .que-footer {
    padding: 5px 5px 0px 5px;
    background-color: #ECF2F7;
    font-size:1.0em;
    font-weight: normal;
}
.question-row .que-footer button {
    margin-left: 3px;
}

.heading{
    font-size: 2.0em;
    font-weight: bold;
    padding: 15px 0 10px 10px;
    color: #111;
}
.tab-heading{
    height: 30px;
    background-color: #FFF;
    font-size: 2.0em;
    margin-bottom: 20px;
    padding: 20px 20px 10px 20px;
    color: #72929E;
    border-bottom: #27728B solid 1px;
    border-right: #27728B solid 1px;
}
.tab-heading .badge {
    margin: 10px;
    height: 30px;
    font-size: 1.5em;
    font-weight: normal;
}
#user-question-to-delete-modal {
    max-height:600px;
    overflow-x: scroll;
}
/*-----Question Page--------*/
.que-input-large {
    height: 50px !important;
    margin-bottom: 5px !important;
    line-height: 30px !important;
    padding: 10px 10px !important;
    font-size: 18px !important;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#que-topbar-question{
    margin-top: 45px;
    margin-bottom: 1px;
    height:100px;
    background-color: #F8F3E8;
    border-bottom: #BBB solid 1px;
    -webkit-box-shadow: #2F5344 -1px 1px 2px;
    -moz-box-shadow: #2F5344 -1px 1px 2px;
    box-shadow: #2F5344 -1px 1px 2px;
}
#que-topbar-question img {
    height: 100px;
    width:100%;
}
.question-result-row {
    outline: #FEFEFE solid 5px;
    border: #BBB solid 1px;
    background-color: #FAFAFA;
    margin: 15px;
    padding: 5px 5px 0px 5px;
}
.question-result-row blockquote {
    margin-bottom: 5px;
}
.question-answer-options {
    border: #BBB solid 1px;
    background-color: #FFF;
    padding: 5px;
}
.que-question-footer {
    background-color: #EDEFF4;
    height:30px;
}
.que-question-footer .que-stats {
    float:left;
    display: block;
    border-right: #FFF solid 2px;
    text-decoration: none;
}
.que-question-footer .que-stats:hover {
    background-color: #DDD;
}
.que-question-footer .btn-link {
    color: #006699!important;
}
.question-added-row {
    outline: #EFDAA5 solid 5px;
    color: #555!important;
}
#questionnaire-search-result-1 {
    margin-top:20px;
}
#questionnaire-search-result-1 .accordion-heading {
    padding: 10px 10px 0 10px;
    margin-bottom:15px;
    background-color: #D8DFEA!important;
}
#questionnaire-search-result-1 .accordion-heading a {
    font-size: 1em;
}
#questionnaire-search-result-1 .accordion-toggle {
    display:block;
}
/*------QUESTIONNAIRE-----------*/
.que-border-top-red-1{
    border-top: #800000 solid 5px;
}
.que-border-top-grey-1{
    border-top: #AAA solid 5px;
}
#que-question-result {
    border-top: #CCC solid 4px;
    margin-top:20px;
    padding-top:10px;
}
.que-sidebar-nav-1 {
    width:100%;
    float:left;
    margin: 0px;
    list-style: none;
    background-color: #EEE;
    border-right: #BBB;
}
.que-sidebar-nav-1 i{
    margin-top: 17px;
}
.que-sidebar-nav-1 li {
    height: 50px;
    width: 98%;
    padding-left:1%;
    padding-right:1%;
    border-bottom: #AAA solid 1px;
    overflow: hidden;
}
.que-sidebar-nav-1 li a{
    display: block;
    height: 100%;
    width: 100%;
    color: #555;
    line-height: 50px;
    font-size: 1.3em;
    font-weight:bold;
    text-align: left;
    text-decoration: none;
}
.que-sidebar-nav-1 li:hover {
    background-color: #0298AB!important;
}
.que-sidebar-nav-1 li.active {
    background-color: #BBB!important;
}
.que-sidebar-nav-1 li.active:hover a{
    color: #000!important;
}
.que-sidebar-nav-1 li:hover a{
    color: #F5F5F5;
}